<a href="https://colab.research.google.com/github/ValdazoAmerico/clasificacion-binaria-Naive-Bayes/blob/main/NaiveBayes-Binary-Classification-Bible.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [35]:
df = pd.read_csv('kjv_cleandata1.csv')

In [6]:
df.head()

   Unnamed: 0  ...                                               text
0           0  ...  In the beginning God created the heaven and th...
1           1  ...  And the earth was without form, and void; and ...
2           2  ...  And God said, Let there be light: and there wa...
3           3  ...  And God saw the light, that it was good: and G...
4           4  ...  And God called the light Day, and the darkness...

[5 rows x 6 columns]

In [9]:
df.columns

Index(['Unnamed: 0', 'id', 'book', 'chapter', 'verse', 'text'], dtype='object')

In [10]:
df.shape

(31103, 6)

In [11]:
df.isnull().sum()

Unnamed: 0    0
id            0
book          0
chapter       0
verse         0
text          0
dtype: int64

In [12]:
df.text.str.len()

0         54
1        142
2         54
3         85
4        115
        ...
31098    168
31099    187
31100    207
31101     95
31102     57
Name: text, Length: 31103, dtype: int64

In [36]:
df2=df

In [38]:
df2.tail()

       Unnamed: 0  ...                                               text
31098       31098  ...  And the Spirit and the bride say, Come. And le...
31099       31099  ...  For I testify unto every man that heareth the ...
31100       31100  ...  And if any man shall take away from the words ...
31101       31101  ...  He which testifieth these things saith, Surely...
31102       31102  ...  The grace of our Lord Jesus Christ be with you...

[5 rows x 6 columns]

In [31]:
df2.loc[23144]

Unnamed: 0                                                23144
id                                                     39004006
book                                                    Malachi
chapter                                                       4
verse                                                         6
text          And he shall turn the heart of the fathers to ...
label                                                         0
Name: 23144, dtype: object

In [39]:
#old testament
df2.loc[0:23144, 'label'] = 0

In [40]:
#new testament
df2.loc[23145:,'label'] = 1

In [68]:
df2.book.unique()

array(['Genesis', 'Exodus', 'Leviticus', 'Numbers', 'Deuteronomy',
       'Joshua', 'Judges', 'Ruth', '1 Samuel (1 Kings)',
       '2 Samuel (2 Kings)', '1 Kings (3 Kings)', '2 Kings (4 Kings)',
       '1 Chronicles', '2 Chronicles', 'Ezra', 'Nehemiah', 'Esther',
       'Job', 'Psalms', 'Proverbs', 'Ecclesiastes',
       'Song of Solomon (Canticles)', 'Isaiah', 'Jeremiah',
       'Lamentations', 'Ezekiel', 'Daniel', 'Hosea', 'Joel', 'Amos',
       'Obadiah', 'Jonah', 'Micah', 'Nahum', 'Habakkuk', 'Zephaniah',
       'Haggai', 'Zechariah', 'Malachi', 'Matthew', 'Mark', 'Luke',
       'John', 'Acts', 'Romans', '1 Corinthians', '2 Corinthians',
       'Galatians', 'Ephesians', 'Philippians', 'Colossians',
       '1 Thessalonians', '2 Thessalonians', '1 Timothy', '2 Timothy',
       'Titus', 'Philemon', 'Hebrews', 'James', '1 Peter', '2 Peter',
       '1 John', '2 John', '3 John', 'Jude', 'Revelation'], dtype=object)

In [41]:
df2.tail()

       Unnamed: 0  ...  label
31098       31098  ...    1.0
31099       31099  ...    1.0
31100       31100  ...    1.0
31101       31101  ...    1.0
31102       31102  ...    1.0

[5 rows x 7 columns]

In [43]:
#Feature extraction
Xfeatures = df2.text
y = df2.label

In [44]:
#Vectorizacion

cv = CountVectorizer()
X = cv.fit_transform(Xfeatures)

In [45]:
X

<31103x12590 sparse matrix of type '<class 'numpy.int64'>'
	with 602576 stored elements in Compressed Sparse Row format>

In [48]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33,random_state=42)

In [49]:
from sklearn.naive_bayes import MultinomialNB

In [51]:
clf = MultinomialNB()
clf.fit(X_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [53]:
clf.score(X_train,y_train)

0.9361773597581458

In [55]:
clf.score(X_test,y_test)

0.9158222915042868

In [56]:
#Predicting a test

In [58]:
sample_verse2 = ['Fear thou not; for I am with thee: be not dismayed; for I am thy God: I will strength']

In [59]:
sample_verse = ['Whetever therefore ye eat, or drink, or whatsoever ye do, do all to the glory of God']

In [69]:
vect = cv.transform(sample_verse2).toarray()

In [70]:
vect

array([[0, 0, 0, ..., 0, 0, 0]])

In [71]:
clf.predict(vect)

array([0.])

In [72]:
#Save model

In [73]:
from sklearn.externals import joblib

/usr/local/lib/python3.7/dist-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

In [74]:
biblePrediction_model = open("bibleversePredictor_nv_model.pkl","wb")
joblib.dump(clf,biblePrediction_model)

In [75]:
biblePrediction_model.close()